.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% 0;
}

.loading div {
    width: 40px;
    height: 40px;
    border: 5px solid #DDDDDD;
    border-radius: 50%;
    border-top-color: #BF1E2E;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 430px) {
    .loading {
        margin: 25% 0;
    }

    .loading div {
        width: 30px;
        height: 30px;
    }
}