.hideAndShowPassword {
    display: flex;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #00000014;
}

.hideAndShowPassword input {
    width: 75%;
    margin: 0 !important;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #DDDDDD;
    border-right: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #777777;
}

.hideAndShowPassword div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25% !important;
    border-radius: 0 10px 10px 0;
    border: 1px solid #DDDDDD;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #353A5D;
    background-color: #FFFFFF;
}

.hideAndShowPassword div:hover {
    cursor: pointer;
    background-color: #F9F9F9;
}