.profileChangePassword {
    display: flex;
    justify-content: center;
    padding: 75px 0;
    background-color: #F9F9F9;
}

.profileChangePassword div {
    width: 400px;
}

.profileChangePassword div a button {
    margin-bottom: 25px;
}

.profileChangePassword div h1 {
    margin-bottom: 15px;
}

@media screen and (max-width: 430px) {   
    .profileChangePassword {
        padding: 60px 15px;
    }
    
    .profileChangePassword div {
        width: 100%;
    }
    
    .profileChangePassword div h1 {
        margin-bottom: 10px;
    }
}