.welcome {
    display: flex;
    align-items: center;
    padding: 150px 100px;
}

.welcome div {
    width: 50%;
    margin-right: 50px;
}

.welcome div h1 {
    margin-bottom: 15px;
}

.welcome div p {
    margin-bottom: 40px;
}

.welcome div button {
    width: 100%;
    margin-bottom: 20px;
}

.welcome img {
    width: 50%;
    padding-left: 150px;
}

@media screen and (max-width: 430px) { 
    .welcome {
        flex-direction: column;
        padding: 60px 15px;
    }

    .welcome div {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        order: 1;
    }

    .welcome div h1 {
        margin-top: 40px;
    }

    .welcome div button {
        margin-bottom: 12px;
    }

    .welcome img {
        width: 100%;
        margin: 0;
        padding: 0 40px;
    }
}