.header {
    padding: 15px 40px;
    border-bottom: 1px solid #DDDDDD;
}

.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div a {
    text-decoration: none;
}

@media screen and (max-width: 430px) {   
    .header {
        padding: 15px 15px;
    }
}